body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #717171;
  background-color: #f3f5f9;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}
a {
  color: #575757;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #7d7d7d;
  text-decoration: none;
}
.badge {
  background-color: #a7b4d3;
}
.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
}
label {
  font-weight: 600;
}
.label-sm {
  padding-top: 0;
  padding-bottom: 0;
}
.text-primary {
  color: #594f8d;
}
.text-info {
  color: #5dcff3;
}
.text-success {
  color: #92cf5c;
}
.text-warning {
  color: #fcc44d;
}
.text-danger {
  color: #fb6b5b;
}
.text-white {
  color: #fff;
}
.text-muted {
  color: #979797;
}
small {
  font-size: 90%;
}
.badge-white {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.35);
  padding: 2px 6px;
}
.badge-hollow {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.15);
  color: inherit;
}
.badge-success {
  background-color: #92cf5c;
  border: 1px solid #92cf5c;
  color: #fff;
}
.caret-white {
  border-top-color: #fff;
  border-top-color: rgba(255,255,255,0.65);
}
a:hover .caret-white {
  border-top-color: #fff;
}
.tooltip-inner {
  background-color: rgba(0,0,0,0.9);
  background-color: #4c5566;
}
.tooltip.top .tooltip-arrow {
  border-top-color: rgba(0,0,0,0.9);
  border-top-color: #4c5566;
}
.tooltip.right .tooltip-arrow {
  border-right-color: rgba(0,0,0,0.9);
  border-right-color: #4c5566;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: rgba(0,0,0,0.9);
  border-bottom-color: #4c5566;
}
.tooltip.left .tooltip-arrow {
  border-left-color: rgba(0,0,0,0.9);
  border-left-color: #4c5566;
}
.popover-content {
  font-size: 12px;
  line-height: 1.5;
}
.progress-xs {
  height: 6px;
}
.progress-sm {
  height: 10px;
}
.progress-sm .progress-bar {
  font-size: 10px;
  line-height: 1em;
}
.breadcrumb {
  background-color: #fff;
  border: 1px solid #ebeff6;
  padding-left: 10px;
  font-size: 12px;
}
.accordion-group,
.accordion-inner {
  border-color: #ebeff6;
  border-radius: 2px;
}
.alert {
  font-size: 85%;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
}
.alert .close i {
  font-size: 12px;
  font-weight: normal;
  display: block;
}
.form-control {
  border-color: #d8dde5;
}
.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-s-sm {
  width: 120px;
}
.input-s {
  width: 200px;
}
.input-s-lg {
  width: 250px;
}
.input-group-addon {
  border-color: #d8dde5;
  background-color: #f5f7fa;
}
.list-group {
  border-radius: 2px;
}
.list-group.no-radius .list-group-item {
  border-radius: 0 !important;
}
.list-group.no-borders .list-group-item {
  border: none;
}
.list-group.no-border .list-group-item {
  border-width: 1px 0;
}
.list-group.no-bg .list-group-item {
  background-color: transparent;
}
.list-group-item {
  border-color: #ebeff6;
  padding-right: 15px;
}
.list-group-item.media {
  margin-top: 0;
}
.list-group-item.active {
  border-color: #5dcff3 !important;
  background-color: #5dcff3 !important;
}
.list-group-item.active,
.list-group-item.active .text-muted {
  color: #ebf9fe;
}
.list-group-item.active a {
  color: #fff;
}
.list-group-alt .list-group-item:nth-child(2n+2) {
  background-color: rgba(0,0,0,0.02);
}
.list-group-lg .list-group-item {
  padding-top: 15px;
  padding-bottom: 15px;
}
.list-group-sp .list-group-item {
  margin-bottom: 5px;
  border-radius: 3px;
}
.list-group-item > .badge {
  margin-right: 0;
}
.list-group-item > .fa-chevron-right {
  float: right;
  margin-top: 4px;
  margin-right: -5px;
}
.list-group-item > .fa-chevron-right + .badge {
  margin-right: 5px;
}
.nav-pills.no-radius > li > a {
  border-radius: 0;
}
.nav-pills > li.active > a {
  color: #fff !important;
  background-color: #5dcff3 !important;
}
.nav.nav-sm > li > a {
  padding: 6px 8px;
}
.nav > li > a .avatar {
  width: 30px;
}
.panel {
  border-radius: 2px;
  border-color: #ebeff6;
}
.panel.no-borders {
  border-width: 0;
}
.panel.no-borders .panel-heading,
.panel.no-borders .panel-footer {
  border-width: 0;
}
.panel .table-responsive {
  border-color: #e0e4e8;
}
.panel .table td,
.panel .table th {
  padding: 6px 15px;
  border-top: 1px solid #eaedef;
}
.panel .table thead > tr > th {
  border-bottom: 1px solid #e0e4e8;
}
.panel .table-striped > tbody > tr:nth-child(odd) > td,
.panel .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #fcfdfe;
}
.panel .table-striped > thead th {
  background: #fafbfc;
  border-right: 1px solid #e0e4e8;
}
.panel .table-striped > thead th:last-child {
  border-right: none;
}
.panel-heading {
  border-color: #ebeff6;
  background-color: #fff;
  border-radius: 2px 2px 0 0;
}
.panel-heading.bg {
  margin: -1px -1px 0 -1px;
  border: none;
}
.panel-heading.bg .list-group-item {
  border-color: transparent;
}
.panel-heading.bg .list-group-item > a {
  color: #fff;
}
.panel-heading .nav {
  font-size: 13px;
  margin: -10px -15px -11px;
  border: none;
}
.panel-heading .nav > li > a {
  border-radius: 0;
  margin: 0;
  border-width: 0;
}
.panel-heading .nav-tabs.nav-justified {
  width: auto;
}
.panel-heading .nav-tabs.nav-justified > li:first-child > a,
.panel-heading .nav-tabs.pull-left > li:first-child > a {
  border-radius: 2px 0 0 0;
}
.panel-heading .nav-tabs.nav-justified > li:last-child > a,
.panel-heading .nav-tabs.pull-right > li:last-child > a {
  border-radius: 0 2px 0 0;
}
.panel-heading .nav-tabs > li > a {
  line-height: 1.5;
}
.panel-heading .nav-tabs > li > a:hover,
.panel-heading .nav-tabs > li > a:focus {
  border-width: 0;
  background: transparent;
  border-color: transparent;
}
.panel-heading .nav-tabs > li.active > a,
.panel-heading .nav-tabs > li.active > a:hover,
.panel-heading .nav-tabs > li.active > a:focus {
  color: #717171;
  background: #fff;
}
.panel-heading .list-group {
  background: transparent;
}
.panel-footer {
  border-color: #ebeff6;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #eaedef;
}
.open {
  z-index: 1050;
  position: relative;
}
.dropdown-menu {
  font-size: 13px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  border: 1px solid rgba(0,0,0,0.1);
}
.dropdown-menu.pull-left {
  left: 100%;
}
.dropdown-menu > .panel {
  border: none;
  margin: -5px 0;
}
.dropdown-menu > li > a {
  padding: 5px 15px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: none;
  filter: none;
  background-color: #4c5566;
  color: #fff;
}
.dropdown-header {
  padding: 5px 15px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #4c5566;
  color: #fff;
}
.dropdown-submenu:hover > .dropdown-menu,
.dropdown-submenu:focus > .dropdown-menu {
  display: block;
}
.dropdown-submenu.pull-left {
  float: none !important;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.dropdown-submenu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: 0;
  margin-left: -1px;
}
.dropup .dropdown-submenu > .dropdown-menu {
  top: auto;
  bottom: 0;
}
.dropdown-select > li > a input {
  position: absolute;
  left: -9999em;
}
.carousel-control {
  width: 40px;
  color: #999;
  text-shadow: none;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #ccc;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  filter: none;
}
.carousel-control i {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.carousel-indicators.out {
  bottom: -5px;
}
.carousel-indicators li {
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  background: #ddd;
  background-color: rgba(0,0,0,0.2);
  border: none;
}
.carousel-indicators .active {
  background: #92cf5c;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.carousel.carousel-fade .item {
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .active {
  opacity: 1;
  filter: alpha(opacity=1);
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}
.carousel.carousel-fade .carousel-control {
  z-index: 3;
}
.col-lg-2-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-0 {
  clear: left;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.no-gutter [class*="col"] {
  padding: 0;
}
.modal-backdrop {
  background-color: #4c5566;
}
.modal-backdrop.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal-over {
  width: 100%;
  height: 100%;
  position: relative;
  background: #4c5566;
}
.modal-center {
  position: absolute;
  left: 50%;
  top: 50%;
}
.modal-content {
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}
.icon-lg:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.icon-muted {
  color: #d9d9d9;
  text-shadow: 0 1px 1px #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
@media (orientation: landscape) {
  html.ios7.ipad > body {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .hbox {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
  }
  .hbox > aside,
  .hbox > section {
    display: table-cell;
    vertical-align: top;
    height: 100%;
    padding: 0;
    float: none;
  }
  .hbox > aside.show,
  .hbox > aside.hidden-sm,
  .hbox > section.show,
  .hbox > section.hidden-sm {
    display: table-cell !important;
  }
  .hbox.stretch {
    height: 100%;
  }
  .vbox {
    display: table;
    border-spacing: 0;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .vbox > section,
  .vbox > footer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .vbox > header ~ section {
    top: 50px;
  }
  .vbox > section.w-f {
    bottom: 50px;
  }
  .vbox > footer {
    top: auto;
    z-index: 1000;
  }
  .vbox > footer ~ section {
    bottom: 50px;
  }
  .vbox.flex > header,
  .vbox.flex > section,
  .vbox.flex > footer {
    position: inherit;
  }
  .vbox.flex > section {
    display: table-row;
    height: 100%;
  }
  .vbox.flex > section > section {
    position: relative;
    height: 100%;
    overflow: auto;
  }
  .ie .vbox.flex > section > section {
    display: table-cell;
  }
  .vbox.flex > section > section > section {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .aside-xs {
    width: 48px;
  }
  .aside {
    width: 180px;
  }
  .aside-sm {
    width: 150px;
  }
  .aside-md {
    width: 200px;
  }
  .aside-lg {
    width: 250px;
  }
  .aside-xl {
    width: 300px;
  }
  .scrollable {
    -webkit-overflow-scrolling: touch;
  }
}
.hbox > aside,
.hbox > section {
  padding: 0 !important;
}
.header,
.footer {
  min-height: 50px;
  padding: 0 15px;
}
.header > p,
.footer > p {
  margin-top: 15px;
  display: inline-block;
}
.header > .btn,
.header > .btn-group,
.header > .btn-toolbar,
.footer > .btn,
.footer > .btn-group,
.footer > .btn-toolbar {
  margin-top: 10px;
}
.header > .btn-lg,
.footer > .btn-lg {
  margin-top: 0;
}
.header .nav-tabs,
.footer .nav-tabs {
  border: none;
  margin-left: -15px;
  margin-right: -15px;
}
.header .nav-tabs > li a,
.footer .nav-tabs > li a {
  border: none !important;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}
.header .nav-tabs > li a:hover,
.header .nav-tabs > li a:focus,
.footer .nav-tabs > li a:hover,
.footer .nav-tabs > li a:focus {
  background-color: transparent;
}
.header .nav-tabs > li.active a,
.footer .nav-tabs > li.active a {
  color: #717171;
}
.header .nav-tabs > li.active a,
.header .nav-tabs > li.active a:hover,
.footer .nav-tabs > li.active a,
.footer .nav-tabs > li.active a:hover {
  background-color: #f3f5f9;
}
.header .nav-tabs.nav-white > li.active a,
.header .nav-tabs.nav-white > li.active a:hover,
.footer .nav-tabs.nav-white > li.active a,
.footer .nav-tabs.nav-white > li.active a:hover {
  background-color: #fff;
}
.header.navbar,
.footer.navbar {
  min-height: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
.no-touch .scrollable.hover {
  overflow-y: hidden;
}
.no-touch .scrollable.hover:hover {
  overflow: visible;
  overflow-y: auto;
}
@media print {
  html,
  body,
  .hbox,
  .vbox {
    height: auto;
  }
  .vbox > section,
  .vbox > footer {
    position: relative;
  }
}
html.layout-box {
  padding: 30px;
  background-color: #161719;
}
html.layout-box,
html.layout-box body,
html.layout-box .hbox,
html.layout-box .vbox {
  height: auto;
}
html.layout-box .vbox > section,
html.layout-box .vbox > footer {
  position: static;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50,50,50,0.3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(50,50,50,0.6);
}
::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50,50,50,0.1);
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(50,50,50,0.2);
}
.nav-bar {
  position: relative;
}
.nav-bar > .btn {
  position: absolute;
  font-size: 1.3em;
  padding: 9px 12px;
  line-height: 30px;
}
.nav-bar .nav-brand + .btn {
  right: 0;
  top: 0;
}
.nav-brand {
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  display: block;
}
.nav-brand:hover {
  text-decoration: none;
}
.nav-brand img {
  max-height: 20px;
  margin-top: -7px;
  vertical-align: middle;
}
.nav-msg {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  padding: 5px;
}
.nav-msg .dropdown-menu {
  top: -13px;
  margin-left: 9px;
  width: 300px;
}
.nav-msg .arrow.left {
  top: 25px;
}
.nav-user {
  padding: 10px 15px;
}
.nav-user a:focus {
  outline: 0;
}
.nav-primary:before,
.nav-primary:after {
  content: " ";
  display: table;
}
.nav-primary:after {
  clear: both;
}
.nav-primary li {
  line-height: 1.5;
}
.nav-primary li a i {
  margin-right: 0.5em;
  font-size: 14px;
}
.nav-primary > ul > li > a {
  padding: 15px 15px;
  position: relative;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.05) !important;
  border-top: 1px solid rgba(255,255,255,0.05) !important;
  transition: color .3s ease-in-out 0s;
}
.no-borders .nav-primary > ul > li > a {
  border-width: 0 !important;
}
.nav-primary > ul > li > a > .badge {
  font-size: 11px;
  padding: 3px 6px;
}
.bg-light .nav-primary > ul > li > a {
  text-shadow: 0 1px 1px #fff;
}
.bg-light .nav-primary > ul > li > a:hover {
  background-color: #4c5566 !important;
}
.nav-primary > ul > li:first-child > a {
  border-top-width: 0;
}
.nav-primary > ul > li.dropdown-submenu:hover > a,
.nav-primary > ul > li.dropdown-submenu:focus > a,
.nav-primary > ul > li > a:hover,
.nav-primary > ul > li > a:focus,
.nav-primary > ul > li > a:active,
.nav-primary > ul > li.active > a {
  color: #fff;
  background-color: inherit;
  background-color: rgba(0,0,0,0.075) !important;
  text-shadow: none;
}
.bg-light .nav-primary > ul > li.dropdown-submenu:hover > a,
.bg-light .nav-primary > ul > li.dropdown-submenu:focus > a,
.bg-light .nav-primary > ul > li.active > a {
  background-color: #4c5566 !important;
}
.nav-primary > ul > li.dropdown-submenu > a:after {
  display: none;
}
.nav-primary > ul > li > .dropdown-menu {
  border-radius: 0;
}
@media (min-width: 768px) {
  #nav {
    z-index: 1000;
    -webkit-transition: width .25s;
    transition: width .25s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  #nav .nav-avatar .thumb-sm {
    width: 30px;
  }
  #nav .nav-avatar .arrow {
    left: 15px;
  }
  #nav > .vbox > .footer {
    box-shadow: inset 0 1px 0 rgba(40,50,60,0.15);
  }
  #nav.nav-vertical {
    width: 80px;
  }
  #nav.nav-vertical.only-icon {
    width: 60px;
  }
  #nav.nav-vertical.only-icon .nav-primary > ul > li > a i {
    margin: 5px 0;
  }
  #nav.nav-vertical.only-icon .nav-primary > ul > li > a span {
    display: none;
  }
  #nav.nav-vertical.only-icon .nav-avatar .arrow {
    left: 12px !important;
  }
  #nav.nav-vertical .nav-avatar .caret {
    display: none;
  }
  #nav.nav-vertical .nav-avatar > .thumb-sm {
    width: 100%;
  }
  #nav.nav-vertical .nav-avatar .arrow {
    left: 27px !important;
  }
  #nav.nav-vertical .nav-msg {
    top: 5px;
  }
  #nav.nav-vertical .nav-msg .arrow.left {
    top: 20px;
  }
  #nav.nav-vertical .nav-msg .dropdown-menu {
    top: -8px;
  }
  #nav.nav-vertical .nav-brand {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  #nav.nav-vertical .nav-primary > ul > li > a {
    position: relative;
    padding: 12px 0;
    font-size: 11px;
    text-align: center;
  }
  #nav.nav-vertical .nav-primary > ul > li > a span {
    display: block;
  }
  #nav.nav-vertical .nav-primary > ul > li > a i {
    display: block;
    font-size: 19px;
    margin: 4px 0;
  }
  #nav.nav-vertical .nav-primary > ul > li > a .badge {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  #nav.nav-vertical > .vbox > .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  #nav.nav-vertical .hidden-vertical {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav-user {
    text-align: center;
  }
  .nav-user .nav-avatar {
    margin-top: 20px;
    display: inline-block;
  }
  .nav-user .nav-avatar .thumb-sm {
    position: relative;
    width: 160px;
    background-color: rgba(255,255,255,0.15);
    padding: 5px;
  }
  .nav-user .nav-avatar .thumb-sm:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    border: 4px solid #fff;
    border-radius: 500px;
  }
  .nav-user .nav-avatar .thumb-sm .caret {
    display: none;
  }
  .nav-user .dropdown-menu {
    text-align: left;
    margin-top: 0;
  }
  .nav-user .nav-msg {
    right: auto;
    left: 10px;
  }
  .nav-user .nav-msg .dropdown-menu {
    top: -6px;
    width: 260px;
  }
  .nav-user .nav-msg .arrow.left {
    top: 20px;
  }
  .nav-bar-fixed-top {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1100;
  }
  .nav-bar-fixed-top + * {
    padding-top: 50px;
  }
  .nav-bar-fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1100;
  }
  html,
  body {
    overflow-x: hidden;
    min-height: 100%;
  }
  .nav-primary .dropdown-menu {
    position: relative;
    float: none;
    left: 0;
    margin-left: 0;
    padding: 0;
  }
  .nav-primary .dropdown-menu a {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  .nav-primary .dropdown-menu li:last-child a {
    border-bottom: none;
  }
  .nav-off-screen {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .nav-off-screen .nav-primary {
    display: block !important;
  }
  .nav-off-screen .nav-bar-fixed-top {
    width: 75%;
  }
  .nav-off-screen.push-right {
    left: auto;
    right: 0;
  }
  .nav-off-screen.push-right + * {
    -webkit-transform: translate3d(-75%,0px,0px);
    transform: translate3d(-75%,0px,0px);
  }
  .nav-off-screen + * {
    background-color: #f3f5f9;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(75%,0px,0px);
    transform: translate3d(75%,0px,0px);
    overflow: hidden;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .nav-off-screen + * .nav-off-screen-block {
    display: block !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1950;
  }
  .slimScrollDiv,
  .slim-scroll {
    overflow: visible !important;
    height: auto !important;
  }
  .slimScrollBar,
  .slimScrollRail {
    display: none !important;
  }
}
.arrow {
  border-width: 8px;
  z-index: 10;
}
.arrow,
.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.arrow:after {
  border-width: 7px;
  content: "";
}
.arrow.top {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #eee;
  border-bottom-color: rgba(0,0,0,0.1);
  top: -8px;
}
.arrow.top:after {
  content: " ";
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #fff;
}
.arrow.right {
  top: 50%;
  right: -8px;
  margin-top: -8px;
  border-right-width: 0;
  border-left-color: #eee;
  border-left-color: rgba(0,0,0,0.1);
}
.arrow.right:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -7px;
}
.arrow.bottom {
  left: 50%;
  margin-left: -8px;
  border-bottom-width: 0;
  border-top-color: #eee;
  border-top-color: rgba(0,0,0,0.1);
  bottom: -8px;
}
.arrow.bottom:after {
  content: " ";
  bottom: 1px;
  margin-left: -7px;
  border-bottom-width: 0;
  border-top-color: #fff;
}
.arrow.left {
  top: 50%;
  left: -8px;
  margin-top: -8px;
  border-left-width: 0;
  border-right-color: #eee;
  border-right-color: rgba(0,0,0,0.1);
}
.arrow.left:after {
  content: " ";
  left: 1px;
  border-left-width: 0;
  border-right-color: #fff;
  bottom: -7px;
}
.btn-default {
  color: #fff !important;
  background-color: #aeb6cb;
  border-color: #aeb6cb;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #fff !important;
  background-color: #95a0bb;
  border-color: #8994b3;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
  background-color: #aeb6cb;
  border-color: #aeb6cb;
}
.btn-default .caret {
  border-top-color: #fff;
}
.btn-twitter {
  color: #fff !important;
  background-color: #00c7f7;
  border-color: #00c7f7;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #fff !important;
  background-color: #00a6ce;
  border-color: #0096ba;
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}
.btn-twitter.disabled,
.btn-twitter.disabled:hover,
.btn-twitter.disabled:focus,
.btn-twitter.disabled:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled],
.btn-twitter[disabled]:hover,
.btn-twitter[disabled]:focus,
.btn-twitter[disabled]:active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter,
fieldset[disabled] .btn-twitter:hover,
fieldset[disabled] .btn-twitter:focus,
fieldset[disabled] .btn-twitter:active,
fieldset[disabled] .btn-twitter.active {
  background-color: #00c7f7;
  border-color: #00c7f7;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
  background-color: #fcfcfe;
}
.btn-link {
  color: #717171;
}
.btn-link.active {
  webkit-box-shadow: none;
  box-shadow: none;
}
.btn-primary {
  color: #fff !important;
  background-color: #594f8d;
  border-color: #594f8d;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff !important;
  background-color: #484073;
  border-color: #403966;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
  background-color: #594f8d;
  border-color: #594f8d;
}
.btn-success {
  color: #fff !important;
  background-color: #92cf5c;
  border-color: #92cf5c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #fff !important;
  background-color: #7dc63c;
  border-color: #73b836;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
  background-color: #92cf5c;
  border-color: #92cf5c;
}
.btn-info {
  color: #fff !important;
  background-color: #5dcff3;
  border-color: #5dcff3;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: #fff !important;
  background-color: #37c4f0;
  border-color: #24beef;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
  background-color: #5dcff3;
  border-color: #5dcff3;
}
.btn-warning {
  color: #fff !important;
  background-color: #fcc44d;
  border-color: #fcc44d;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff !important;
  background-color: #fbb725;
  border-color: #fbb011;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
  background-color: #fcc44d;
  border-color: #fcc44d;
}
.btn-danger {
  color: #fff !important;
  background-color: #fb6b5b;
  border-color: #fb6b5b;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #fff !important;
  background-color: #fa4733;
  border-color: #fa351f;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
  background-color: #fb6b5b;
  border-color: #fb6b5b;
}
.btn-facebook {
  color: #fff !important;
  background-color: #335397;
  border-color: #335397;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #fff !important;
  background-color: #294279;
  border-color: #243a69;
}
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  background-image: none;
}
.btn-facebook.disabled,
.btn-facebook.disabled:hover,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled],
.btn-facebook[disabled]:hover,
.btn-facebook[disabled]:focus,
.btn-facebook[disabled]:active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook,
fieldset[disabled] .btn-facebook:hover,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:active,
fieldset[disabled] .btn-facebook.active {
  background-color: #335397;
  border-color: #335397;
}
.btn-gplus {
  color: #fff !important;
  background-color: #dd4a38;
  border-color: #dd4a38;
}
.btn-gplus:hover,
.btn-gplus:focus,
.btn-gplus:active,
.btn-gplus.active,
.open .dropdown-toggle.btn-gplus {
  color: #fff !important;
  background-color: #ca3522;
  border-color: #b8301f;
}
.btn-gplus:active,
.btn-gplus.active,
.open .dropdown-toggle.btn-gplus {
  background-image: none;
}
.btn-gplus.disabled,
.btn-gplus.disabled:hover,
.btn-gplus.disabled:focus,
.btn-gplus.disabled:active,
.btn-gplus.disabled.active,
.btn-gplus[disabled],
.btn-gplus[disabled]:hover,
.btn-gplus[disabled]:focus,
.btn-gplus[disabled]:active,
.btn-gplus[disabled].active,
fieldset[disabled] .btn-gplus,
fieldset[disabled] .btn-gplus:hover,
fieldset[disabled] .btn-gplus:focus,
fieldset[disabled] .btn-gplus:active,
fieldset[disabled] .btn-gplus.active {
  background-color: #dd4a38;
  border-color: #dd4a38;
}
.btn-white {
  border-color: #dae0ed;
  border-color: rgba(150,160,180,0.3);
  color: #717171 !important;
  background-color: #fff;
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.05);
  background-clip: padding-box;
}
.btn {
  font-weight: 500;
}
.bg .btn-white {
  border-color: rgba(0,0,0,0.1);
}
.btn-white .caret {
  border-top-color: #656565;
}
.dropup .btn-white .caret {
  border-bottom-color: #656565;
}
.btn-icon {
  padding-left: 0;
  padding-right: 0;
  width: 34px;
  text-align: center;
}
.btn-sm.btn-icon {
  width: 30px;
}
.text-active,
.active > .text,
.active .auto .text {
  display: none !important;
}
.active > .text-active,
.active .auto .text-active {
  display: inline-block !important;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: none;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
.icon-stack [class^="icon-"]:before,
.icon-stack [class*=" icon-"]:before {
  margin: 0;
}
.icon-xlarge:before {
  font-size: 1.5em;
  vertical-align: -14%;
}
.btn-group-justified {
  border-collapse: separate;
}
.btn-rounded {
  border-radius: 50px;
}
.btn > i.pull-left,
.btn > i.pull-right {
  line-height: 1.428571429;
}
.btn-block {
  padding-left: 12px;
  padding-right: 12px;
}
.chat-item:before,
.chat-item:after {
  content: " ";
  display: table;
}
.chat-item:after {
  clear: both;
}
.chat-item .arrow {
  top: 20px;
}
.chat-item .arrow.right:after {
  border-left-color: #92cf5c;
}
.chat-item .chat-body {
  position: relative;
  margin-left: 45px;
  min-height: 30px;
}
.chat-item .chat-body .panel {
  margin: 0 -1px;
}
.chat-item.right .chat-body {
  margin-left: 0;
  margin-right: 45px;
}
.chat-item+.chat-item {
  margin-top: 15px;
}
.comment-list {
  position: relative;
}
.comment-list .comment-item {
  margin-top: 0;
  position: relative;
}
.comment-list .comment-item > .thumb-sm {
  width: 36px;
}
.comment-list .comment-item .arrow.left {
  top: 20px;
  left: 39px;
}
.comment-list .comment-item .comment-body {
  margin-left: 46px;
}
.comment-list .comment-item .panel-body {
  padding: 10px 15px;
}
.comment-list .comment-item .panel-heading,
.comment-list .comment-item .panel-footer {
  position: relative;
  font-size: 12px;
}
.comment-list .comment-reply {
  margin-left: 46px;
}
.comment-list:before {
  position: absolute;
  top: 0;
  bottom: 35px;
  left: 18px;
  width: 1px;
  background: #e0e4e8;
  content: '';
}
.timeline {
  display: table;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  position: relative;
  border-collapse: collapse;
}
.timeline:before {
  content: "";
  width: 6px;
  margin-left: -4px;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 30px;
  background-color: #ddd;
  z-index: 0;
}
.timeline .timeline-date {
  position: absolute;
  width: 150px;
  left: -200px;
  top: 50%;
  margin-top: -9px;
  text-align: right;
}
.timeline .timeline-icon {
  position: absolute;
  left: -41px;
  top: -2px;
  top: 50%;
  margin-top: -15px;
}
.timeline .time-icon {
  width: 30px;
  height: 30px;
  display: inline-block !important;
  z-index: 10;
  border: 2px solid #fff;
  border-radius: 20px;
  text-align: center;
  line-height: 28px;
}
.timeline .time-icon:before {
  font-size: 16px;
}
.timeline-item {
  display: table-row;
}
.timeline-item:before,
.timeline-item.alt:after {
  content: "";
  display: block;
  width: 50%;
}
.timeline-item.alt {
  text-align: right;
}
.timeline-item.alt:before {
  display: none;
}
.timeline-item.alt .panel {
  margin-right: 25px;
  margin-left: 0;
}
.timeline-item.alt .timeline-date {
  left: auto;
  right: -200px;
  text-align: left;
}
.timeline-item.alt .timeline-icon {
  left: auto;
  right: -41px;
}
.timeline-item.active {
  display: table-caption;
  text-align: center;
}
.timeline-item.active:before {
  width: 1%;
}
.timeline-item.active .timeline-caption {
  display: inline-block;
  width: auto;
}
.timeline-item.active .timeline-caption h5 span {
  color: #fff;
}
.timeline-item.active .panel {
  margin-left: 0;
}
.timeline-item.active .timeline-date,
.timeline-item.active .timeline-icon {
  position: static;
  margin-bottom: 10px;
  display: inline-block;
  width: auto;
}
.timeline-caption {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.timeline-caption .panel {
  display: inline-block;
  position: relative;
  margin-left: 25px;
  text-align: left;
}
.timeline-caption h5 {
  margin: 0;
}
.timeline-caption h5 span {
  display: block;
  color: #999;
  margin-bottom: 4px;
  font-size: 12px;
}
.timeline-caption p {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 10px;
}
.timeline-footer {
  display: table-row;
}
.timeline-footer a {
  display: table-cell;
  text-align: right;
}
.timeline-footer .time-icon {
  margin-right: -15px;
  z-index: 5;
}
#note-list .note-name,
#note-list .note-desc {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#note-list .note-desc {
  height: 16px;
  font-size: 11px;
}
#note-list li {
  cursor: pointer;
}
#task-list .edit {
  display: none;
  float: left;
  position: relative;
  left: 0;
  top: -8px;
  border-width: 0;
  background: transparent;
  box-shadow: none;
  padding: 0 30px 0 0;
  font-size: 13px;
  color: #fff;
}
#task-list .editing .task-name {
  display: none;
}
#task-list .editing .edit {
  display: block;
}
#task-list .checkbox {
  padding-left: 20px;
  margin: 4px 0;
}
#task-list li {
  position: relative;
}
#task-list li .close {
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 1;
}
#task-list li.done .task-name {
  text-decoration: line-through;
}
#task-detail textarea {
  height: 60px;
  font-size: 12px;
  border-radius: 0;
}
.paper {
  position: relative;
  background: -webkit-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  background: -moz-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  background: linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}
.paper:before {
  content: '';
  position: absolute;
  width: 0px;
  top: 0;
  left: 39px;
  bottom: 0;
  border-left: 1px solid #F9D3D3;
}
.paper textarea {
  border: none;
  background-color: transparent;
  height: 100%;
  padding: 30px 0 0 55px;
  line-height: 30px;
  min-height: 210px;
}
.tags .label {
  font-size: 1em;
  display: inline-block;
  padding: 6px 10px;
  margin-bottom: 3px;
}
.post-item {
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
  margin-bottom: 15px;
}
.post-item .post-title {
  margin-top: 0;
}
.post-item .post-media {
  text-align: center;
}
.post-item .post-media img {
  border-radius: 3px 3px 0 0;
}
.switch {
  cursor: pointer;
  position: relative;
}
.switch input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
.switch input:checked + span {
  background-color: #92cf5c;
}
.switch input:checked + span:after {
  left: 31px;
}
.switch span {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #eee;
  border-color: rgba(0,0,0,0.1);
  display: inline-block;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.switch span:after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 26px;
  top: 1px;
  bottom: 1px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}
.bg-gradient {
  background-image: -webkit-gradient(linear,left 0,left 100%,from(rgba(40,50,60,0)),to(rgba(40,50,60,0.05)));
  background-image: -webkit-linear-gradient(top,rgba(40,50,60,0),0,rgba(40,50,60,0.05),100%);
  background-image: -moz-linear-gradient(top,rgba(40,50,60,0) 0,rgba(40,50,60,0.05) 100%);
  background-image: linear-gradient(to bottom,rgba(40,50,60,0) 0,rgba(40,50,60,0.05) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0028323c', endColorstr='#0c28323c', GradientType=0);
  filter: none;
}
.bg-light {
  background-color: #ebeef5;
  color: #717171;
}
.bg-light.lt,
.bg-light .lt {
  background-color: #f2f4f8;
}
.bg-light.lter,
.bg-light .lter {
  background-color: #f9fafc;
}
.bg-light.dk,
.bg-light .dk {
  background-color: #e4e8f2;
}
.bg-light.dker,
.bg-light .dker {
  background-color: #dde2ee;
}
.bg-dark {
  background-color: #4c5566;
  color: #c4c9d3;
}
.bg-dark.lt,
.bg-dark .lt {
  background-color: #545e70;
}
.bg-dark.lter,
.bg-dark .lter {
  background-color: #5c677c;
}
.bg-dark.dk,
.bg-dark .dk {
  background-color: #444c5c;
}
.bg-dark.dker,
.bg-dark .dker {
  background-color: #3d4452;
}
.bg-dark a {
  color: #d3d7de;
}
.bg-dark a:hover {
  color: #fff;
}
.bg-dark a.list-group-item:hover,
.bg-dark a.list-group-item:focus {
  background-color: inherit;
}
.bg-dark .nav li > a {
  color: #a7afbd;
}
.bg-dark .nav li > a:hover {
  background-color: #414957;
}
.bg-dark .nav li > ul.dropdown-menu > li > a {
  color: #626d83;
}
.bg-dark .nav li > ul.dropdown-menu > li > a:hover {
  color: #fff;
}
.bg-dark .nav .open > a {
  background-color: #414957;
}
.bg-dark.navbar .nav > li.active > a {
  color: #fff;
  background-color: #414957;
}
.bg-dark .open > a,
.bg-dark .open > a:hover,
.bg-dark .open > a:focus {
  color: #fff;
}
.bg-dark .text-muted {
  color: #b6bcc8;
}
.bg-black {
  background-color: #2c3039;
  color: #9aa1b1;
}
.bg-black.lt,
.bg-black .lt {
  background-color: #343843;
}
.bg-black.lter,
.bg-black .lter {
  background-color: #3d424f;
}
.bg-black.dk,
.bg-black .dk {
  background-color: #24282f;
}
.bg-black.dker,
.bg-black .dker {
  background-color: #1c1f25;
}
.bg-black a {
  color: #a8aebc;
}
.bg-black a:hover {
  color: #fff;
}
.bg-black a.list-group-item:hover,
.bg-black a.list-group-item:focus {
  background-color: inherit;
}
.bg-black .nav li > a {
  color: #7d869b;
}
.bg-black .nav li > a:hover {
  background-color: #21242b;
}
.bg-black .nav li > ul.dropdown-menu > li > a {
  color: #424856;
}
.bg-black .nav li > ul.dropdown-menu > li > a:hover {
  color: #fff;
}
.bg-black .nav .open > a {
  background-color: #21242b;
}
.bg-black.navbar .nav > li.active > a {
  color: #fff;
  background-color: #21242b;
}
.bg-black .open > a,
.bg-black .open > a:hover,
.bg-black .open > a:focus {
  color: #fff;
}
.bg-black .text-muted {
  color: #8b93a6;
}
.bg-primary {
  background-color: #594f8d;
  color: #dbd8e9;
}
.bg-primary.lt,
.bg-primary .lt {
  background-color: #605598;
}
.bg-primary.lter,
.bg-primary .lter {
  background-color: #695ea5;
}
.bg-primary.dk,
.bg-primary .dk {
  background-color: #524982;
}
.bg-primary.dker,
.bg-primary .dker {
  background-color: #4b4276;
}
.bg-primary a {
  color: #eae9f2;
}
.bg-primary a:hover {
  color: #fff;
}
.bg-primary a.list-group-item:hover,
.bg-primary a.list-group-item:focus {
  background-color: inherit;
}
.bg-primary .nav li > a {
  color: #bdb8d7;
}
.bg-primary .nav li > a:hover {
  background-color: #4f467d;
}
.bg-primary .nav li > ul.dropdown-menu > li > a {
  color: #7166a9;
}
.bg-primary .nav li > ul.dropdown-menu > li > a:hover {
  color: #fff;
}
.bg-primary .nav .open > a {
  background-color: #4f467d;
}
.bg-primary.navbar .nav > li.active > a {
  color: #fff;
  background-color: #4f467d;
}
.bg-primary .open > a,
.bg-primary .open > a:hover,
.bg-primary .open > a:focus {
  color: #fff;
}
.bg-primary .text-muted {
  color: #ccc8e0;
}
.bg-success {
  background-color: #92cf5c;
  color: #fbfdfa;
}
.bg-success.lt,
.bg-success .lt {
  background-color: #9bd36a;
}
.bg-success.lter,
.bg-success .lter {
  background-color: #a6d87a;
}
.bg-success.dk,
.bg-success .dk {
  background-color: #89cb4e;
}
.bg-success.dker,
.bg-success .dker {
  background-color: #80c740;
}
.bg-success a {
  color: #ffffff;
}
.bg-success a:hover {
  color: #fff;
}
.bg-success a.list-group-item:hover,
.bg-success a.list-group-item:focus {
  background-color: inherit;
}
.bg-success .nav li > a {
  color: #eef8e6;
}
.bg-success .nav li > a:hover {
  background-color: #85c948;
}
.bg-success .nav li > ul.dropdown-menu > li > a {
  color: #5f982d;
}
.bg-success .nav li > ul.dropdown-menu > li > a:hover {
  color: #fff;
}
.bg-success .nav .open > a {
  background-color: #85c948;
}
.bg-success.navbar .nav > li.active > a {
  color: #fff;
  background-color: #85c948;
}
.bg-success .open > a,
.bg-success .open > a:hover,
.bg-success .open > a:focus {
  color: #fff;
}
.bg-success .text-muted {
  color: #eef8e6;
}
.bg-info {
  background-color: #5dcff3;
  color: #ffffff;
}
.bg-info.lt,
.bg-info .lt {
  background-color: #6ed4f4;
}
.bg-info.lter,
.bg-info .lter {
  background-color: #81daf6;
}
.bg-info.dk,
.bg-info .dk {
  background-color: #4ccaf2;
}
.bg-info.dker,
.bg-info .dker {
  background-color: #3cc5f1;
}
.bg-info a {
  color: #ffffff;
}
.bg-info a:hover {
  color: #fff;
}
.bg-info a.list-group-item:hover,
.bg-info a.list-group-item:focus {
  background-color: inherit;
}
.bg-info .nav li > a {
  color: #ffffff;
}
.bg-info .nav li > a:hover {
  background-color: #45c8f1;
}
.bg-info .nav li > ul.dropdown-menu > li > a {
  color: #10a9da;
}
.bg-info .nav li > ul.dropdown-menu > li > a:hover {
  color: #fff;
}
.bg-info .nav .open > a {
  background-color: #45c8f1;
}
.bg-info.navbar .nav > li.active > a {
  color: #fff;
  background-color: #45c8f1;
}
.bg-info .open > a,
.bg-info .open > a:hover,
.bg-info .open > a:focus {
  color: #fff;
}
.bg-info .text-muted {
  color: #ffffff;
}
.bg-warning {
  background-color: #fcc44d;
  color: #ffffff;
}
.bg-warning.lt,
.bg-warning .lt {
  background-color: #fcca5f;
}
.bg-warning.lter,
.bg-warning .lter {
  background-color: #fdd073;
}
.bg-warning.dk,
.bg-warning .dk {
  background-color: #fcbe3b;
}
.bg-warning.dker,
.bg-warning .dker {
  background-color: #fbb82a;
}
.bg-warning a {
  color: #ffffff;
}
.bg-warning a:hover {
  color: #fff;
}
.bg-warning a.list-group-item:hover,
.bg-warning a.list-group-item:focus {
  background-color: inherit;
}
.bg-warning .nav li > a {
  color: #fffefd;
}
.bg-warning .nav li > a:hover {
  background-color: #fcbc34;
}
.bg-warning .nav li > ul.dropdown-menu > li > a {
  color: #df9904;
}
.bg-warning .nav li > ul.dropdown-menu > li > a:hover {
  color: #fff;
}
.bg-warning .nav .open > a {
  background-color: #fcbc34;
}
.bg-warning.navbar .nav > li.active > a {
  color: #fff;
  background-color: #fcbc34;
}
.bg-warning .open > a,
.bg-warning .open > a:hover,
.bg-warning .open > a:focus {
  color: #fff;
}
.bg-warning .text-muted {
  color: #fffefd;
}
.bg-danger {
  background-color: #fb6b5b;
  color: #ffffff;
}
.bg-danger.lt,
.bg-danger .lt {
  background-color: #fb7b6c;
}
.bg-danger.lter,
.bg-danger .lter {
  background-color: #fc8d80;
}
.bg-danger.dk,
.bg-danger .dk {
  background-color: #fb5b4a;
}
.bg-danger.dker,
.bg-danger .dker {
  background-color: #fa4c38;
}
.bg-danger a {
  color: #ffffff;
}
.bg-danger a:hover {
  color: #fff;
}
.bg-danger a.list-group-item:hover,
.bg-danger a.list-group-item:focus {
  background-color: inherit;
}
.bg-danger .nav li > a {
  color: #ffffff;
}
.bg-danger .nav li > a:hover {
  background-color: #fa5542;
}
.bg-danger .nav li > ul.dropdown-menu > li > a {
  color: #ea1d06;
}
.bg-danger .nav li > ul.dropdown-menu > li > a:hover {
  color: #fff;
}
.bg-danger .nav .open > a {
  background-color: #fa5542;
}
.bg-danger.navbar .nav > li.active > a {
  color: #fff;
  background-color: #fa5542;
}
.bg-danger .open > a,
.bg-danger .open > a:hover,
.bg-danger .open > a:focus {
  color: #fff;
}
.bg-danger .text-muted {
  color: #ffffff;
}
.bg-white {
  background-color: #fff;
  color: #717171;
}
.bg-white a {
  color: #575757;
}
.bg-white a:hover {
  color: #3e3e3e;
}
.bg-white .text-muted {
  color: #979797;
}
.bg {
  color: #fff;
}
.bg a,
.bg a:hover {
  color: #fff;
}
.pos-rlt {
  position: relative;
}
.pos-stc {
  position: static;
}
.pos-abt {
  position: absolute;
}
.line {
  *width: 100%;
  height: 2px;
  margin: 10px 0;
  font-size: 0;
  overflow: hidden;
  background-color: transparent;
  border-width: 0;
  border-top: 1px solid #eaedef;
}
.line-xs {
  margin: 0;
}
.line-lg {
  margin-top: 15px;
  margin-bottom: 15px;
}
.line-dashed {
  border-style: dashed;
  background: transparent;
}
.no-line {
  border-width: 0;
}
.no-border,
.no-borders {
  border-color: transparent !important;
  border-width: 0;
}
.no-radius {
  border-radius: 0;
}
.block {
  display: block;
}
.block.hide {
  display: none;
}
.inline {
  display: inline-block;
}
.pull-right-lg {
  float: right;
}
.none {
  display: none;
}
.pull-none {
  float: none;
}
.form-control-trans {
  border: none;
  background: transparent;
}
.bg-white-only {
  background-color: #fff;
}
.rounded {
  border-radius: 500px;
}
.btn-s-xs {
  min-width: 90px;
}
.btn-s-sm {
  min-width: 100px;
}
.btn-s-md {
  min-width: 120px;
}
.btn-s-lg {
  min-width: 150px;
}
.btn-s-xl {
  min-width: 200px;
}
.l-h-2x {
  line-height: 2em;
}
.l-h-1x {
  line-height: 1.2;
}
.v-middle {
  vertical-align: middle !important;
}
.v-top {
  vertical-align: top;
}
.v-bottom {
  vertical-align: bottom;
}
.font-thin {
  font-weight: 300;
}
.font-normal {
  font-weight: normal;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.text-sm {
  font-size: 12px;
}
.text-xs {
  font-size: 10px;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-uc {
  text-transform: uppercase;
}
.wrapper {
  padding: 15px;
}
.wrapper-lg {
  padding: 30px;
}
.wrapper-xl {
  padding: 50px;
}
.padder {
  padding-left: 15px;
  padding-right: 15px;
}
.padder-v {
  padding-top: 15px;
  padding-bottom: 15px;
}
.no-padder {
  padding: 0 !important;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.pull-out {
  margin: -10px -15px;
}
.b-t {
  border-top: 1px solid #e0e4e8;
}
.b-r {
  border-right: 1px solid #e0e4e8;
}
.b-b {
  border-bottom: 1px solid #e0e4e8;
}
.b-l {
  border-left: 1px solid #e0e4e8;
}
.r {
  border-radius: 2px 2px 2px 2px;
}
.r-l {
  border-radius: 2px 0 0 2px;
}
.r-r {
  border-radius: 0 2px 2px 0;
}
.r-t {
  border-radius: 2px 2px 0 0;
}
.r-b {
  border-radius: 0 0 2px 2px;
}
.m {
  margin: 15px;
}
.m-n {
  margin: 0;
}
.m-l {
  margin-left: 15px;
}
.m-l-none {
  margin-left: 0;
}
.m-l-xs {
  margin-left: 5px;
}
.m-l-sm {
  margin-left: 10px;
}
.m-l-lg {
  margin-left: 20px;
}
.m-l-n {
  margin-left: -15px;
}
.m-l-n-xxs {
  margin-left: -1px;
}
.m-l-n-xs {
  margin-left: -5px;
}
.m-l-n-sm {
  margin-left: -10px;
}
.m-l-n-lg {
  margin-left: -20px;
}
.m-t {
  margin-top: 15px;
}
.m-t-none {
  margin-top: 0;
}
.m-t-xxs {
  margin-top: 1px;
}
.m-t-xs {
  margin-top: 5px;
}
.m-t-sm {
  margin-top: 10px;
}
.m-t-lg {
  margin-top: 20px;
}
.m-t-n {
  margin-top: -15px !important;
}
.m-t-n-xxs {
  margin-top: -1px;
}
.m-t-n-xs {
  margin-top: -5px;
}
.m-t-n-sm {
  margin-top: -10px;
}
.m-t-n-lg {
  margin-top: -20px;
}
.m-r {
  margin-right: 15px;
}
.m-r-none {
  margin-right: 0;
}
.m-r-xs {
  margin-right: 5px;
}
.m-r-sm {
  margin-right: 10px;
}
.m-r-lg {
  margin-right: 20px;
}
.m-r-n {
  margin-right: -15px;
}
.m-r-n-xxs {
  margin-right: -1px;
}
.m-r-n-xs {
  margin-right: -5px;
}
.m-r-n-sm {
  margin-right: -10px;
}
.m-r-n-lg {
  margin-right: -20px;
}
.m-b {
  margin-bottom: 15px;
}
.m-b-none {
  margin-bottom: 0;
}
.m-b-xs {
  margin-bottom: 5px;
}
.m-b-sm {
  margin-bottom: 10px;
}
.m-b-lg {
  margin-bottom: 20px;
}
.m-b-n {
  margin-bottom: -15px;
}
.m-b-n-xxs {
  margin-bottom: -1px;
}
.m-b-n-xs {
  margin-bottom: -5px;
}
.m-b-n-sm {
  margin-bottom: -10px;
}
.m-b-n-lg {
  margin-bottom: -20px;
}
.media-xs {
  min-width: 50px;
}
.media-sm {
  min-width: 80px;
}
.media-md {
  min-width: 90px;
}
.media-lg {
  min-width: 120px;
}
.thumb {
  width: 64px;
  display: inline-block;
}
.thumb-lg {
  width: 128px;
  display: inline-block;
}
.thumb-md {
  width: 90px;
  display: inline-block;
}
.thumb-xs {
  width: 18px;
  display: inline-block;
}
.thumb-sm {
  width: 36px;
  display: inline-block;
}
.thumb img,
.thumb-xs img,
.thumb-sm img,
.thumb-md img,
.thumb-lg img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.img-full {
  max-width: 100%;
}
.img-full > img {
  max-width: 100%;
}
.avatar {
  border: 1px solid rgba(255,255,255,0.2);
  display: block;
  border-radius: 500px;
  white-space: nowrap;
}
.avatar img {
  border-radius: 500px;
}
.avatar.border {
  border: 3px solid #fff;
  border-color: rgba(255,255,255,0.5);
}
.clear {
  display: block;
  overflow: hidden;
}
.scroll-x,
.scroll-y {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.scroll-y {
  overflow-y: auto;
}
.scroll-x {
  overflow-x: auto;
}
.no-touch .scroll-x,
.no-touch .scroll-y {
  overflow: hidden;
}
.no-touch .scroll-x:hover,
.no-touch .scroll-x:focus,
.no-touch .scroll-x:active {
  overflow-x: auto;
}
.no-touch .scroll-y:hover,
.no-touch .scroll-y:focus,
.no-touch .scroll-y:active {
  overflow-y: auto;
}
.no-touch .hover-action {
  display: none;
}
.no-touch .hover:hover .hover-action {
  display: inherit;
}
.h {
  font-size: 170px;
  font-weight: 300;
  background-image: -webkit-linear-gradient(92deg,#fb83fa,#00aced);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 992px) {
  .col-lg-2-4 {
    width: 20.000%;
    float: left;
  }
}
@media (max-width: 767px) {
  .shift {
    display: none !important;
  }
  .shift.in {
    display: block !important;
  }
  .row-2 [class*="col"] {
    width: 50%;
    float: left;
  }
  .row-2 .col-0 {
    clear: none;
  }
  .row-2 li:nth-child(odd) {
    clear: left;
    margin-left: 0;
  }
  .text-center-xs {
    text-align: center;
  }
  .pull-none-xs {
    float: none !important;
  }
  .hidden-xs.show {
    display: inherit !important;
  }
}
