.tag-column,
.profile-column {
    margin-bottom: 10px;
}
.tag-column:last-child,
.profile-column:last-child {
    margin-bottom: 0;
}

.tag-row-id,
.profile-id {
    text-align: right;
}

.profile-data-title {
    margin-bottom: 5px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-8{

    margin-top: 8px;
}
.w900{
    width: 900px;
}
.margin-left-10{
    margin-left: 10px!important;
}
.margin-10{
    margin: 10px!important;
}
.margin-padding-10{
    margin-padding: 10px!important;
}
.w-15{
    width: 15px;
}
.w-30{
    width: 30px;
}
.padding-12{
    padding: 12px!important;
}
.color-red{
    color:red;
}
.color-green{
    color:green;
}
.color-gray{
    color:gray;
}
.w30{
    width:30px !important;

}
.w60{
    width:60px;

}
.w100{
    width:100px;
}
.w200{
    width:200px;

}
.height12
{
    height: 12px !important; 
}
.d-table{
    display: table;
}
.d-table-cel{
    display: table-cell;
}
.w100per{
    width: 100%!important;
}
.w20per{
    width: 20%;
}
.w60per{
    width: 60%;
}
.upload-ava-img {
    position: relative;
    background-size: contain!important;
}
.upload-ava-img .image {
    width: 100%;
}

.w220{
    width: 220px;
}

.upload-img-size .image {
    background-size: cover!important;

}
.no-repeat{
    background-repeat: no-repeat !important;
}
.marg-bott-0{
    margin-bottom: 0px!important;
}
.h100{
    height:100px;
}
#content_table{
    overflow-x: auto;
}
.img-app{
    text-align: center;
}
.h50{
    height:50px;
}
.w50{
    width:50px;
}

.padd-right-0{
    padding-right: 0px!important;
}
.padd-left-5{
    padding-left: 5px!important;
}

.user-ava {
    width: 70px;
    height: 70px;
    background-size: cover !important;
}

.user-ava.ava-small {
    border-radius: 150px;
    height: 30px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.nav-vertical .user-ava.ava-small {
    height: 50px;
}

.user-ava-box {
    margin-bottom: 20px;
}
.reset_dtl{
    padding-top: 3px!important;
    padding-bottom:3px!important;
    margin-left: 0px;
}
.reset_dtl label{
    padding-top: 7px;
    padding-bottom: 7px;

}
.w100per button.btn{
    margin-left:5px;
}

.table-cell{
    dispaly:table-cell;
}
.margin-right-10{
    margin-right:10px;
}
.gray{
    background-color: gray!important;
}
.disp-none{
    visibility: hidden;
}

.m-h50{
    max-height:50px;
}
.m-w50{
    max-width:50px;
}
.img-app-loader img{
    height: 20px;
    width: 20px;
    margin-top:5%;

}
.img-user-loader img{
    height: 50px;
    width: 50px;
    margin-top:17%;
    margin-left:3%;

}
.loader-user{
    position: absolute!important;
    z-index: 10!important;
    bottom: 8px;
    left: 50%;
    margin-left: -25px;
}


.loader-upload-ava img {
    height: 50px;
    width: 50px;
}
.loader-upload-ava{
    position: absolute!important;
    z-index: 10!important;
    top:50%;
    left:50%;
    margin-top: -46px;
    margin-left: -25px;
}

@media (max-width: 767px) {
    .user-ava.ava-small{
        height: 150px!important;

    }
    .nav-user .nav-avatar .thumb-sm{
        margin: 0 auto;
    }
    #nav{
        height: inherit!important;
    }
    #nav.nav-off-screen{
        height: 100%!important;
    }
}

li .dropdown-menu{
    width:130px!important;
    min-width: 132px!important;
}
li .dropdown-menu li{
    width:130px!important;

}

#nav{
    height: 560px;
}
.upload-img-size{
    margin: 0 auto;
    /*    border-radius: 10px;*/
    border-image-outset: 3px;
}
.border-top{
    margin: 0 auto;
    /*    border-top-left-radius: 10px;
        border-top-right-radius: 10px;*/
}
.w360{
    max-width: 210px;
}
.drop-button{
    /*    border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;*/
}

.w180{
    width: 180px;
}
.h100per{
    height:100%;
}
.max-h-120{
    max-height: 120px;
}


.h120{
    min-height: 120px;
}
.h220{
    min-height: 220px;
}


.h120 img{
    max-height: 120px;
}
.h220 img{
    max-height: 220px;
}
.arch .rgr{
    padding-right:0px!important;
}

.mess.margin-top-10{
    padding-left:15px;
}
.w400 {
    width: 400px!important;
}

/*.size {
    width: 400px!important;
    white-space: nowrap;  Отменяем перенос текста 
    overflow: hidden;  Обрезаем содержимое 
    padding: 5px;  Поля 
    text-overflow: ellipsis;  Многоточие 
}*/
/*.size:hover {
    background: #f0f0f0;  Цвет фона 
    white-space: normal;  Обычный перенос текста 
}*/
.upload-background{
    width:400px;
}
.mh220{
    min-height: 220px;
}

#formAddBackground #ava{
    min-height: 220px;

}
.w800{
    width: 800px;
}
.mt30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.max-w100{
    max-width: 100px;
}
.mt20{
    margin-top: 20px;
}
.padd-left-0{
    padding-left: 0px!important;
}
.mh300{
    min-height: 300px;
}
.margin-left-15{
    margin-left: 15px!important;
}
.margin-right-10{
    margin-right: 10px!important;
}
.margin-top-5px{
    margin-top:5px!important;
}

.pos-r{
    position: relative;
    top: -2px;
}

.padd-top-3{
    padding-top: 3px!important;
}

.pos-r-3{
    position: relative!important;
    top: 3px!important;
}

.field-price-serv{
    margin-bottom: 5px!important;
    height: 49px!important;
}
.mh500{
    min-height: 500px!important;
}
.pl-0{
    padding-left: 0px!important;
}
.pr-0{
    padding-right: 0px!important;
}
.bord{
    border-top: 1px solid #e0e4e8;
    border-right: 1px solid #e0e4e8;
}
#ui-datepicker-div{
    z-index:10000!important;
}
.z1000{
    z-index: 1000!important;
}
.grey{
    background-color: #ebeef5!important;
}

.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.centerV{
    position: relative;
    top: 15px;
}

.inl-bl{
    display:inline-block;
}
.ml-15{
    margin-left: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}
.client-mess{
    position: absolute;
    z-index: 10000;
    width: 300px; 
    top: 30%;
    left: 50%;
    margin-left: -150px; 
}
.dark{
    background-color: #5c677c;
}


.content_table .order-tab-mess{
    position: absolute;
    z-index: 10000;
    width: 300px;
    top: 0;
    right: 15px!important;
}
.pl-0{
    padding-left: 0px!important;
}
.pr-0{
    padding-right: 0px!important;
}

.size-sec-table {
    width: 500px!important;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}

.scr{
    height: 570px;
    overflow: auto;
}
.w1000{
    width: 1100px;
}
.scr-pop{
    height: 600px;
    overflow-y: auto;
    overflow-x:hidden;
}
.scr-dinamic-field{
    overflow-y: auto;
    overflow-x:hidden;
    height:290px;
}
.pb0{
    padding-bottom: 0px!important;

}

.files-form-edit-order{
    position: fixed;
    top: 125px;
    right: 50px;
}

.scr-files{
    height: 250px;
    overflow-y: auto;
    overflow-x:hidden;
}
.scr-files .st-f-adm{
    padding-left: 0px;
    padding-right: 0px;
}

.scr-files .st-f-adm ul.list-group-lg{
    margin-left: 0px;
    margin-right: 0px;
}
.bt-inline{
    margin-top: 23px!important;
    padding-left: 0px!important;
}
.pt-4{
    padding-top: 4px!important;
}
.combodate1{
    display: inline-block!important;
}
.chk-day{
    margin-top: 4px;
    position: relative;
    top: 2px;
    left: -5px;

}
.loader img{
    position: absolute;
    z-index: 100;
    top: 50%;
}
#loader img{
    position: absolute;
    z-index: 100;
    top: 50%;
}

.pl-30{
    padding-left: 30px;
}
.mr-12px{
    margin-right: -12px;
} 

/*---------------------------------*/

.hiddenInput{  
    position:absolute;
    overflow: hidden;
    display:block;  
    height:0px;  
    width:0px;  
}
.mt23{
    margin-top:23px;
}



.lft43{
    left: 43px;
}

.w-41{
    width: 41px;
}
.mb3{
    margin-bottom: 3px;
}
.mb0{
    margin-bottom: 0px;
}
.mt0{
    margin-top: 0px;
}
.scr-pop-in{
    height: 570px;
    overflow-y: auto;
    overflow-x:hidden;
}

.scr-pop-out{
    height: auto;
    overflow-y: auto;
    overflow-x:hidden;
}

.show-w-cl-img {position: relative;
                top: 50px;
}
.mr15{
    margin-right: 15px!important;
}

.color-blue{
    color:#0033CC;
}
.color-grey-active{
    color:#333;

}
.h100per{
    height:100%;

}
.text-blue{
    color: #002F31;
    font-weight: 600;
}
.w0{
    width: 0px;
}
.bold-600{
    font-weight: 600;
}
.green-background{
    background-color: #C1FFC1!important;
}
.green-light{
    color:#04B45F;
}
.mr-50{
    margin-right: 50px;
}

.dataTables_processing {
    display: none!important;
}

.default-back{
    width:60px; 
    height:40px;
    text-align:center;
    margin: 0 auto;
    height: 3em;
    line-height: 3em;
    opacity: 0.7;
    color: cadetblue;
    font-weight: 800;
    font-size: 20px;
}

.cnt-w{
    position: absolute;
    top: 4px;
    right: 1px;

}
.color-gr{
    color:#A9A9A9;
}
.color-r1{
    color:#800000;
}
.pl-12{
    padding-left: 12px;
}
.toggle-archive{
    position: absolute;
    z-index: -100;
    top: 7px;
    left: 17px;
}
.pos_rel{
    position: relative;
    top: 3px;
}
.float-left{
    float: left;
}

#ordersClienttable .fa{
    font-size: 18px;
}

.w300{
    width:300px;
}

.ml25{
    margin-left:25px;
}

.color-red1{
    color:#A52A2A;
    opacity: 0.6;
}
.color-green1{
    color:#191970;
    opacity: 0.6;
}

.toggle-autoupdate{
    z-index: -100;
    position: absolute;
    top: 7px;
    right: 24px;
}
w100per{
    width: 100%;
}
.position-rel{
    position: relative;
    top: 22px;
    left: 30px;
}
.addNumbers{
    /*    position: relative!important;
        right: -30px!important;*/
}
.pos-abs-t-r{
    position: absolute;
    top: 264px;
    right: -231px;

}
.u-pos-abs-t-r{
    position: absolute;
    top: 100px;
    right: -4px;
}
.pos-rel-t9{
    position: relative;
    top: -7px;    
}
.h30{
    height: 20px!important;
}
.margin-left-0{
    margin-left: 0px !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}
.bg-color-dark{
    background-color: #575757;
}

.clock-style{
    color: white;
    font-weight: bold;
    position: absolute;
    left: 0;
    margin-left: 5px;
}
.gray-light{
    color:#D8D8D8;
}
.new-client-modal{
    position: relative;
    left: -82px;

}
.op35{
    opacity: 0.35;
}

.red-background{
    background-color: #F5A9A9!important;
}

.hidden-textarea{
    opacity: 0;
    position: absolute;


}
/***************************************************/
.borderless td, .borderless th, .borderless tr {
    border: none!important;
}
.mb0{
    margin-bottom: 0px;
}
th.sorting_asc{
    display: none;
}
.size {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
    text-overflow: ellipsis; /* Многоточие */
}
.pos-rel-t4{
    position: relative;
    top: 4px;
}
.ml0{
    margin-left: 0px!important;
}
.mr0{
    margin-right: 0px!important;
}
.line-through{
    text-decoration:line-through;
}
.order-tab-mess{
    position: absolute;
    z-index: 10000;
    width: 300px;
    top: 0;
    right: 14px!important;
}
.pr-t-r23{
    position: relative;
    top:23px;
}
.pr-t-r10{
    position: relative;
    top:10px;
}
.pr-t2{
    position: relative;
    top: 2px;
}
.alert-done {
    color: dimgray;
    background-color:gainsboro;
    border-color:gray;
    
}
.alert{
    font-size: 14px;
}